## Ignore virtual environment
venv/

## Ignore uploaded files
uploads/

## Ignore all __pycache__ folders
**/__pycache__/
*.py[cod]
*$py.class

## Ignore .db files
.db

## Ignore all .env file, not .env.example
.env

## Ignore all .DS_Store files