## Ignore virtual environment
venv/

## Ignore uploaded files
uploads/

## Ignore all __pycache__ folders
**/__pycache__/
*.py[cod]
*$py.class
app/__pycache__/


## Ignore .db files
.db

## Ignore all .env file, not .env.example
.env

# But allow .env.example
!.env.example